.hx {
    font-size: 1.5rem;
    display: inline-flex;
    gap: 0.25rem;
    align-items: center;
}

#main-carousel {
    .carousel-item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1rem;

        img {
            width: 45%;
            min-height: 200px;
            border-radius: 4px;
        }

        .info {
            display: flex;
            flex-direction: column;
            gap:1rem;
            a {
                font-weight: bolder;
                font-size: 2.5rem;
                text-decoration: none;
                color: var(--bg);
            }
            .tags{
                display: flex;
                gap: 0.5rem;
                font-size: 0.8rem;
                span{
                    padding: 0 0.4rem;
                    border-radius: 4px;
                    color: var(--bg);
                    &:first-child{
                        background-color: #1abc9c;
                    }
                    &:nth-child(2){
                        background-color: #2980b9;
                    }
                    &:nth-child(3){
                        background-color: #e67e22;
                    }
                }
            }
        }

        &:first-child {
            background-color: teal;
        }
    }
    @media(max-width: $md){
        .carousel-item{
            img,.info{
                width: 100%;
            }
            flex-direction: column;
            justify-content: flex-start;
            
        } 
    }
}

h2 {
    font-size: 0.875rem;
}

ul {
    margin: 0;
    padding: 0;
}

.contacts {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .heading {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .socials {
        display: flex;
        flex-wrap: wrap;
        gap: 0.625rem;
        justify-content: space-between;

        .social {
            display: inline-flex;
            align-items: center;
            gap: 0.25rem;
        }
    }

}