:root {
    --bg: #fff;
    --text: #323e54;
    --hover: #f3f5f9;
    --border: #e0e3eb;
    --icon: #787b86;
    --selected: #d5f1ff;
    --tooltip: #2a2e39;
    --gray: #a3a6af;
    --modalBg: #fefefe;
    --disabledText: #b2b5be;
    --disabledBorder: #d1d4dc;
    --disabledBg: #f0f3fa;
    --pics: #143366;
    --cardShadow: rgba(0, 0, 0, 0.2);
    //=== co colors
    --blue: #448aff;
    --blueHover: #3d7ce5;
    --blueActive: #3367bf;
    --red: #f7525f;
    --redHover: #de4a55;
    --redActive: #b93d47;
    --redTooltip: #f7525fcc;
    --green: #00a97f;
    --greenHover: #009872;
    --greenActive: #007f5f;
    --greenTooltip: #00a97fcc;
    --orange: #ff9800;
    --turquise: #26c6da;
    --purple: #9575cd;
    // ===
    --mainPadding: 15px 30px;
}

.dark {
    --bg: #131722;
    --text: #d1d4dc;
    --hover: #2f3241;
    --border: #434651;
    --icon: #787b86;
    --selected: #21384d;
    --tooltip: #363a45;
    --gray: #4f525d;
    --modalBg: #1e222d;
    --disabledText: #50535e;
    --disabledBorder: #50535e;
    --disabledBg: #2a2e39;
    --pics: #7f9ef3;
    --cardShadow: rgba(f, f, f, 0.2);
}
$xs: 576px;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1600px;