@import "./fonts";
@import "./constants";
@import "./home";

* {
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    font-family: Vazir;
    font-size: 13px;
    padding: 0;
    margin: 0;

    #root {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        gap: 2rem;
    }

    header {
        display: flex !important;
        align-items: center;
        justify-content: space-between;
        background-color: var(--blue);
        color: var(--bg);
        height: 60px;

        .hx {
            font-size: 1rem;
            display: inline-flex;
            gap: 0.25rem;
            align-items: center;
        }

        .custom-icon {
            color: var(--bg);
        }
    }

    main {
        display: flex !important;
        flex-direction: column;
        gap: 2rem;
        flex: 1;
    }

    footer {
        background-color: var(--pics);
        color: var(--bg);
        text-align: center;
        padding: 0.625rem 0;
        //padding: var(--mainPadding);

    }
}

.page {
    padding: 20px;
}