@import "./fonts";
@import "./constants";
@import "./home";

* {
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    font-family: Vazir;
    font-size: 13px;
    padding: 0;
    margin: 0;

    #root {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        gap: 2rem;
    }

    header {
        background-color: var(--blue);

        >div {
            display: flex !important;
            align-items: center;
            justify-content: space-between;
            color: var(--bg);
            height: 60px;


            .custom-icon {
                color: var(--bg);
            }
        }
    }


    main {
        display: flex !important;
        flex-direction: column;
        gap: 2rem;
        flex: 1;
    }

    footer {
        background-color: var(--pics);

        //padding: var(--mainPadding);
        >div {
            color: var(--bg);
            text-align: center;
            padding: 0.625rem 0;

        }
    }
}

.page {
    padding: 20px;
}